{% extends "layout.twig" %}

{% block titulo %}
    Inicio
{% endblock %}

{% block estilos %}
    <link rel="stylesheet" href="assets/css/index.css" />
{% endblock %}

{% block cuerpo %}
    {% include "navbar.twig" %}
    <main role="main" class="container">
        <h3 class="mt-4 mb-3">Listado de incidencias con filtros</h3>
        <div class="my-3 p-3 bg-white shadow-lg">
            <h4 class="mb-3"><a data-toggle="collapse" href="#buscarIncidencias">B&uacute;queda de incidencias</a></h4>
            <div id="buscarIncidencias" class="collapse multi-collapse row">
                <form action="index.php?action=search" method="post" class="form-inline col-lg-4">
                    <label class="sr-only" for="prioridad">Prioridad</label>
                    <select class="custom-select w-50" id="prioridad" name="prioridad" required>
                        <option value="Alta">Prioridad alta</option>
                        <option value="Media">Prioridad media</option>
                        <option value="Baja">Prioridad baja</option>
                    </select>
                    <input type="hidden" name="tipo" value="prioridad" />
                    <button type="submit" class="btn btn-primary ml-2"><i class="fas fa-filter"></i> Filtrar</button>
                </form>
                <form action="index.php?action=search" method="post" class="form-inline col-lg-4 mt-2 mt-lg-0">
                    <label class="sr-only" for="estado">Estado</label>
                    <select class="custom-select w-50" id="estado" name="estado" required>
                        <option value="Abierta">Incidencia abierta</option>
                        <option value="Cerrada">Incidencia cerrada</option>
                    </select>
                    <input type="hidden" name="tipo" value="estado" />
                    <button type="submit" class="btn btn-primary ml-2"><i class="fas fa-filter"></i> Filtrar</button>
                </form>
                <form action="index.php?action=search" method="post" class="form-inline col-lg-4 mt-2 mt-lg-0">
                    <label class="sr-only" for="categoria">Categor&iacute;a</label>
                    <input type="text" class="form-control w-50" id="categoria" name="categoria" placeholder="Categor&iacute;a" required />
                    <input type="hidden" name="tipo" value="categoria" />
                    <button type="submit" class="btn btn-primary ml-2"><i class="fas fa-filter"></i> Filtrar</button>
                </form>
                <form action="index.php?action=search" method="post" class="form-inline col-lg-6 mt-2">
                    <label class="sr-only" for="tecnico">T&eacute;cnico</label>
                    <select class="custom-select w-50" id="tecnico" name="tecnico" required>
                        <option value="Yo">S&oacute;lo mis incidencias</option>
                        <option value="SinAsignar">Incidencias sin asignar</option>
                    </select>
                    <input type="hidden" name="tipo" value="tecnico" />
                    <button type="submit" class="btn btn-primary ml-2"><i class="fas fa-filter"></i> Filtrar</button>
                </form>
                <form action="index.php?action=search" method="post" class="form-inline col-lg-6 mt-2">
                    <label class="sr-only" for="fecha">Fecha</label>
                    <select class="custom-select w-50" id="fecha" name="fecha" required>
                        <option value="ultimaSemana">Última semana</option>
                        <option value="ultimoMes">Último mes</option>
                        <option value="ultimoAnno">Último año</option>
                    </select>
                    <input type="hidden" name="tipo" value="fecha" />
                    <button type="submit" class="btn btn-primary ml-2"><i class="fas fa-filter"></i> Filtrar</button>
                </form>
            </div>
        </div>
        {% if incidencias|length > 0 %}
        <div class="my-3 p-3 bg-white shadow-lg table-responsive">
            <table class="table table-bordered table-striped text-center">
                <thead>
                <tr>
                    <th scope="col" class="d-none d-md-table-cell">Fecha</th>
                    <th scope="col">Descripci&oacute;n</th>
                    <th scope="col" class="d-none d-lg-table-cell">Cliente</th>
                    <th scope="col" class="d-none d-md-table-cell">Prioridad</th>
                    <th scope="col" class="d-none d-md-table-cell">Estado</th>
                    <th scope="col" class="d-none d-md-table-cell">Categor&iacute;a</th>
                    <th scope="col" class="d-none d-lg-table-cell">T&eacute;cnico</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for incidencia in incidencias %}
                <tr>
                    <td scope="row" class="d-none d-md-table-cell">{{ incidencia.fecha|date("d M Y H:i", "Europe/Madrid") }}</td>
                    <td>{{ incidencia.descripcionBreve }}</td>
                    <td class="d-none d-lg-table-cell">{{ incidencia.cliente }}</td>
                    <td class="d-none d-md-table-cell">{{ incidencia.prioridad }}</td>
                    <td class="d-none d-md-table-cell">{{ incidencia.estado }}</td>
                    <td class="d-none d-md-table-cell">{{ incidencia.categoria }}</td>
                    <td class="d-none d-lg-table-cell">{{ incidencia.empleado }}</td>
                    <td>
                        <a href="index.php?action=ver&incidencia={{ incidencia.idIncidencia }}" class="btn btn-outline-primary"><i class="fas fa-eye"></i><span class="d-none d-md-inline"> Ver</span></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </main>
    {% include "footer.twig" %}
{% endblock %}